.git
.github
.idea
.vscode
.fleet
.cache
.phpunit.cache
.phpunit.result.cache
.phpstorm.meta.php

node_modules
vendor
public/build
public/hot
public/storage

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/debugbar
storage/clockwork
storage/pulse

.env.bak
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

_ide_helper.php
_ide_helper_models.php
.phpactor.json
clover.xml
coverage
.DS_Store
Thumbs.db

docs
art
operations
webhook.py
README.md
*.md
!CLAUDE.md
