!.env.example
.editorconfig
.env
.env.*
.env.backup
.mcp.json
.phpactor.json
.phpstan.cache
.phpstorm.meta.php
.phpunit.cache
.phpunit.result.cache
.rnd
.styleci.yml
/.ai/mcp/mcp.json
/.claude/settings.local.json
/.codex/config.toml
/.cursor/mcp.json
/.idea
/.vscode
/node_modules
/public/hot
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/storage/pail
/tests/Coverage
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
auth.json
clover.xml
docker-compose.override.yml
herd.yml
npm-debug.log
phpunit.xml
tests/Coverage
yarn-error.log
