/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/svg
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
auth.json
# Project exclude paths
/nova-components/DashboardQuickActions/dist/
/nova-components/LatestFormSubmissions/dist/
/nova-components/ResourceCustomField/dist/
.editorconfig
.styleci.yml