/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.env.*
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
auth.json
.editorconfig
.styleci.yml
_ide_helper.php
clover.xml
.rnd
