includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 6
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::user\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::future\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::ordered\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::orderForRoster\(\)#'
        - '#Access to an undefined property Laravel\\Passport\\Client::\$[a-zA-Z0-9\\_]+#'
        - '#Access to an undefined property Laravel\\Socialite\\Contracts\\User::\$[a-zA-Z0-9\\_]+#'
        - '#Access to property \$[a-zA-Z0-9\\_]+ on an unknown class Laravel\\Cashier\\Billable#'
        - '#Call to method sparkPlan\(\) on an unknown class Laravel\\Cashier\\Billable#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model|Stancl\\Tenancy\\Contracts\\Tenant::database\(\)#'
        - '#Unable to resolve the template type TKey in call to function collect#'
        - '#Unable to resolve the template type TValue in call to function collect#'
    excludePaths:
        - app/Nova/*.php
    checkGenericClassInNonGenericObjectType: false
