includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 3
    excludePaths:
        - app/Filament/Concerns/AdvancedTables.php
        - app/Filament/Concerns/HasViews.php
    ignoreErrors:
        - '#Property .* does not exist#'
        - '#(unknown class|not subtype of template type).*Archilex\\AdvancedTables\\#'
        - '#Archilex\\AdvancedTables\\.*not subtype of template type#'
