includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::user\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::future\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::ordered\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::orderForRoster\(\)#'
        - '#PHPDoc type array<string> of property [a-zA-Z0-9\\_]+::\$casts#'
        - '#PHPDoc type array of property [a-zA-Z0-9\\_]+::\$guarded#'
        - '#Access to an undefined property Laravel\\Passport\\Client::\$[a-zA-Z0-9\\_]+#'
        - '#Access to an undefined property Laravel\\Socialite\\Contracts\\User::\$[a-zA-Z0-9\\_]+#'
        - '#Access to property \$[a-zA-Z0-9\\_]+ on an unknown class Laravel\\Cashier\\Billable#'
        - '#Call to method sparkPlan\(\) on an unknown class Laravel\\Cashier\\Billable#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model|Stancl\\Tenancy\\Contracts\\Tenant::database\(\)#'
    excludePaths:
        - app/Nova/*.php
