<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         backupStaticProperties="false">

  <testsuites>
    <testsuite name="Architecture">
      <directory suffix="Test.php">./tests/Architecture</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="tests/Coverage/html"/>
    </report>
  </coverage>

  <php>
    <env name="API_URL" value="http://api.lvh.me"/>
    <env name="API_VERSION" value="v2"/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_DEBUG" value="false" />
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <env name="APP_URL" value="http://lvh.me"/>
    <env name="APP_SCHEME" value="http"/>
    <env name="AUTH_URL" value="http://auth.lvh.me"/>
    <env name="BASE_URL" value=".lvh.me"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="BROADCAST_CONNECTION" value="log"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_DATABASE" value="testing"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_USERNAME" value="root"/>
    <env name="DB_PASSWORD" value=""/>
    <env name="FILESYSTEM_DISK" value="local"/>
    <env name='HTTP_HOST' value='http://lvh.me' />
    <env name="JWT_ALGO" value="HS256"/>
    <env name="JWT_SECRET" value="3juKTvPLQ2Vw7djDKazHaGQ0UXht2D3wUC94hroyzy6RLNaRbMWJnKdjo9YfCtHU"/>
    <env name="LOG_CHANNEL" value="single"/>
    <env name="LOG_LEVEL" value="debug"/>
    <env name="MAIL_MAILER" value="log"/>
    <env name="MAIL_FROM_NAME" value="Test"/>
    <env name="PENNANT_STORE" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="RESPONSE_CACHE_ENABLED" value="false"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="STRIPE_PRODUCT_MONTH" value="price_1REMW6Gt8lrL0dgCpyHaco4P"/>
    <env name="STRIPE_PRODUCT_YEARLY" value="price_1REMW6Gt8lrL0dgCKBUlqymC"/>
    <env name="STRIPE_KEY" value="stripekey"/>
    <env name="STRIPE_SECRET" value="stripesecret"/>
    <env name="TENANT_ENABLED" value="true"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="VIEW_CACHE" value="false"/>
  </php>

  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
