<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         backupStaticProperties="false">

  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Central">
      <directory suffix="Test.php">./tests/Feature/Central</directory>
    </testsuite>
    <testsuite name="Tenant">
      <directory suffix="Test.php">./tests/Feature/Tenant</directory>
    </testsuite>
  </testsuites>

  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="tests/Coverage/html"/>
    </report>
  </coverage>

  <php>
    <server name="API_URL" value="http://api.lvh.me"/>
    <server name="API_VERSION" value="v1"/>
    <server name="APP_ENV" value="testing"/>
    <server name="APP_DEBUG" value="false" />
    <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <server name="APP_URL" value="http://lvh.me"/>
    <server name="AUTH_URL" value="http://auth.lvh.me"/>
    <server name="BASE_URL" value=".lvh.me"/>
    <server name="BCRYPT_ROUNDS" value="4"/>
    <server name="CACHE_DRIVER" value="array"/>
    <server name="DB_CONNECTION" value="mysql"/>
    <server name="DB_DATABASE" value="testing"/>
    <server name="DB_HOST" value="127.0.0.1"/>
    <server name="ENVOYER_HEARTBEAT_URL" value="https://foo.bar" />
    <server name='HTTP_HOST' value='http://lvh.me' />
    <server name="JWT_ALGO" value="HS256"/>
    <server name="JWT_SECRET" value="3juKTvPLQ2Vw7djDKazHaGQ0UXht2D3wUC94hroyzy6RLNaRbMWJnKdjo9YfCtHU"/>
    <server name="LOG_CHANNEL" value="single"/>
    <server name="LOG_LEVEL" value="debug"/>
    <server name="MAIL_MAILER" value="array"/>
    <server name="MAIL_FROM_NAME" value="Test"/>
    <server name="PENNANT_STORE" value="array"/>
    <server name="QUEUE_CONNECTION" value="sync"/>
    <server name="SESSION_DRIVER" value="array"/>
    <server name="STRIPE_PRODUCT_BASIC_MONTH" value="price_1LGWsjGt8lrL0dgCSh82mHu3"/>
    <server name="STRIPE_PRODUCT_ENTERPRISE_MONTH" value="price_1LGWuVGt8lrL0dgCA8GM8Bpw"/>
    <server name="STRIPE_PRODUCT_PRO_MONTH" value="price_1LGWtYGt8lrL0dgCAfBx95kG"/>
    <server name="TELESCOPE_ENABLED" value="false"/>
  </php>

  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
