@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/filament-themes/minimal';
@import './torchlight.css';
@import '../../calendar.css';

@source '../../../../app/Filament/App/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/app/**/*';
@source '../../../../resources/views/components/**/*';
@source '../../../../vendor/guava/filament-icon-picker/resources/**/*';
@source '../../../../vendor/archilex/filament-filter-sets/resources/css/**/*';

.user-cover-photo {
    @apply flex-1 items-center justify-center
}

.user-cover-photo.div, .user-cover-photo.img {
    @apply flex-1 !object-contain !max-w-5xl
}
