@import '/vendor/filament-themes/minimal/index.css';
/*@import '/vendor/archilex/filament-filter-sets/resources/css/plugin.css';*/
@import 'torchlight.css';
@import '../../calendar.css';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';

.user-cover-photo {
    @apply flex-1 items-center justify-center
}

.user-cover-photo.div, .user-cover-photo.img {
    @apply flex-1 !object-contain !max-w-5xl
}
