.ec-title {
    @apply text-base font-bold tracking-tight text-gray-950 dark:text-white
}

.ec-day {
    @apply font-bold tracking-tight text-gray-950 dark:text-white
}

.ec-button {
    @apply uppercase cursor-pointer relative grid-flow-col items-center justify-center font-semibold outline-none !transition !duration-75 focus-visible:ring-2 !rounded-lg gap-1.5 px-3 py-2 text-sm shadow-sm bg-white text-gray-950 hover:bg-gray-50 dark:bg-white/5 dark:text-white dark:hover:bg-white/10 ring-1 !ring-gray-950/10 dark:ring-white/20 [input:checked+&]:bg-gray-400 [input:checked+&]:text-white [input:checked+&]:ring-0 [input:checked+&]:hover:bg-gray-300 dark:[input:checked+&]:bg-gray-600 dark:[input:checked+&]:hover:bg-gray-500
}

.ec-prev {
    @apply !rounded-r-none;
}

.ec-next {
    @apply !rounded-l-none;
}