.ec-title {
    @apply text-base leading-6 font-semibold text-gray-950 dark:text-white;
}

.ec-day {
    @apply font-bold tracking-tight text-gray-950 dark:text-white;
}

.ec-button {
    @apply uppercase relative inline-grid grid-flow-col items-center justify-center gap-1.5 rounded-lg px-3 py-2 text-sm font-medium transition duration-75 outline-none focus-visible:ring-2;
}

.ec-prev {
    @apply !rounded-r-none;
}

.ec-next {
    @apply !rounded-l-none;
}