name: Check Code Style

on:
  pull_request:

jobs:
  check-code-style:
    name: Run Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none
          tools: composer

      - name: Require Pint CLI
        run: composer global require laravel/pint

      - name: Run Linter
        run: |
          pint --test -v --preset laravel
