name: Release Application

on:
  repository_dispatch:
    types: release-application

jobs:
  update-version:
    name: Update Version
    uses: DeschutesDesignGroupLLC/PERSCOM-3.0/.github/workflows/version.yml@staging
    secrets: inherit

  release-application:
    name: Release Application
    runs-on: ubuntu-latest
    needs: update-version
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Create Sentry Release Staging
        if: github.ref == 'refs/heads/staging'
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: staging
          version: ${{ needs.update-version.outputs.new_tag }}

      - name: Create Sentry Release Production
        if: github.ref == 'refs/heads/master'
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          version: ${{ needs.update-version.outputs.new_tag }}

      - name: Create Github Release
        needs: update-version
        uses: ncipollo/release-action@v1
        if: github.ref == 'refs/heads/master'
        with:
          tag: ${{ needs.update-version.outputs.new_tag }}
          name: ${{ needs.update-version.outputs.new_tag }}
          body: ${{ needs.update-version.outputs.changelog }}
