name: Release Application

on:
  repository_dispatch:
    types: release-application
  push:
    branches:
      - staging

jobs:
  update-version:
    name: Update Version
    uses: DeschutesDesignGroupLLC/PERSCOM-3.0/.github/workflows/version.yml@master
    secrets: inherit

  release-application:
    name: Release Application
    runs-on: ubuntu-latest
    needs: update-version
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.FORGE_SSH_PRIVATE_KEY }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none
          tools: composer

      - name: Require Forge CLI
        run: composer global require laravel/forge-cli

      - name: Update Application Version for Staging
        if: github.ref == 'refs/heads/staging'
        run: |
          forge server:switch ${{ secrets.FORGE_SERVER_NAME }}
          forge command ${{ secrets.FORGE_STAGING_SERVER_SITE }} --command="php current/artisan env:set APP_VERSION ${{ needs.update-version.outputs.new_tag }}"
        env:
          FORGE_API_TOKEN: ${{ secrets.FORGE_API_TOKEN }}

      - name: Update Application Version for Production
        if: github.ref == 'refs/heads/master'
        run: |
          forge server:switch ${{ secrets.FORGE_SERVER_NAME }}
          forge command ${{ secrets.FORGE_PRODUCTION_SERVER_SITE }} --command="php current/artisan env:set APP_VERSION ${{ needs.update-version.outputs.new_tag }}"
        env:
          FORGE_API_TOKEN: ${{ secrets.FORGE_API_TOKEN }}

      - name: Create Sentry Release Staging
        if: github.ref == 'refs/heads/staging'
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: staging
          version: ${{ needs.update-version.outputs.new_tag }}

      - name: Create Sentry Release Production
        if: github.ref == 'refs/heads/master'
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          version: ${{ needs.update-version.outputs.new_tag }}

      - name: Create Github Release
        uses: ncipollo/release-action@v1
        if: github.ref == 'refs/heads/master'
        with:
          tag: ${{ needs.update-version.outputs.new_tag }}
          name: ${{ needs.update-version.outputs.new_tag }}
          generateReleaseNotes: true
          makeLatest: true
