name: Test Suite

on:
  pull_request:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - develop
      - master
      - staging

jobs:
  test-application:
    name: Run PHPUnit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: ${{ !contains(github.event.head_commit.message, '[skip tests]') }}
    env:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: testing
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install Javascript Dependencies
        run: npm ci

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, :psr
          ini-values: error_reporting=E_ALL, xdebug.mode="develop,coverage"
          tools: composer
          coverage: xdebug
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"

      - name: Composer Cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install PHP Dependencies
        run: composer install --prefer-dist --no-interaction --no-progress
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      - name: Build Project
        run: npm run build

      - name: Install Passport Keys
        run: php artisan passport:keys --force

      - name: Make Environment File
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Clear Cache
        run: php artisan optimize:clear

      - name: Execute Tests
        run: php artisan test --parallel

      - name: Upload Code Coverage Report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODE_COV_TOKEN }}
          files: ./clover.xml
          verbose: true

      - name: Upload Logs
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: logs
          path: storage/logs/
