name: Update Version

on:
  workflow_call:
    outputs:
      new_tag:
        description: "The application tag"
        value: ${{ jobs.update-version.outputs.new_tag }}
      changelog:
        description: "The application changelog"
        value: ${{ jobs.update-version.outputs.changelog }}

jobs:
  update-version:
    name: Update Application Version
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip version]') }}
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      changelog: ${{ steps.tag_version.outputs.changelog }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3

      - name: Bump Application Version and Tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          default_prerelease_bump: prerelease
          release_branches: master
          pre_release_branches: staging
          append_to_pre_release_tag: prerelease
