openapi: 3.0.3
info:
  title: 'PERSCOM Personnel Management System'
  description: 'The PERSCOM API describes how to interact and manipulate your PERSCOM data available at https://perscom.io. The API provides a powerful interface to allow for third-party collaboration and integration with your PERSCOM Dashboard.'
  contact:
    name: 'Deschutes Design Group LLC'
    url: 'https://www.deschutesdesigngroup.com'
    email: info@deschutesdesigngroup.com
  version: v1
  termsOfService: 'https://perscom.io/privacy-policy'
servers:
  -
    url: 'https://api.perscom.io'
    description: 'Production Environment'
  -
    url: 'https://api.staging.perscom.io'
    description: 'Staging Environment'
security:
  -
    ApiKey: []
  -
    PerscomId: []
paths:
  /v1/me:
    get:
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of users'
      tags:
        - Me
  /v1/announcements:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AnnouncementResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create announcement'
      tags:
        - Announcements
    get:
      parameters: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of announcements'
      tags:
        - Announcements
  /v1/announcements/search:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - title
                          - created_at
                          - expires_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, title, created_at, expires_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: title'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for announcements'
      tags:
        - Announcements
  '/v1/announcements/{announcement}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: announcement
          in: path
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AnnouncementResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get announcement'
      tags:
        - Announcements
    patch:
      parameters:
        -
          schema:
            type: integer
          name: announcement
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Announcement'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AnnouncementResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update announcement'
      tags:
        - Announcements
    delete:
      parameters:
        -
          schema:
            type: integer
          name: announcement
          in: path
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AnnouncementResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete announcement'
      tags:
        - Announcements
  /v1/announcements/batch:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Announcement'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of announcements'
      tags:
        - Announcements
    patch:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Announcement'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of announcements'
      tags:
        - Announcements
    delete:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnnouncementResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of announcements'
      tags:
        - Announcements
  /v1/awards:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Award'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AwardResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create award'
      tags:
        - Awards
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of awards'
      tags:
        - Awards
  /v1/awards/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - image
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: name'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for awards'
      tags:
        - Awards
  '/v1/awards/{award}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: award
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AwardResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get award'
      tags:
        - Awards
    patch:
      parameters:
        -
          schema:
            type: integer
          name: award
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Award'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AwardResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update award'
      tags:
        - Awards
    delete:
      parameters:
        -
          schema:
            type: integer
          name: award
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AwardResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete award'
      tags:
        - Awards
  /v1/awards/batch:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Award'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of awards'
      tags:
        - Awards
    patch:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Award'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of awards'
      tags:
        - Awards
    delete:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of awards'
      tags:
        - Awards
  /v1/qualifications:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Qualification'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/QualificationResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create qualification'
      tags:
        - Qualifications
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualificationResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of qualifications'
      tags:
        - Qualifications
  /v1/qualifications/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - image
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: name'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualificationResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for qualifications'
      tags:
        - Qualifications
  '/v1/qualifications/{qualification}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: qualification
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/QualificationResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get qualification'
      tags:
        - Qualifications
    patch:
      parameters:
        -
          schema:
            type: integer
          name: qualification
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Qualification'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/QualificationResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update qualification'
      tags:
        - Qualifications
    delete:
      parameters:
        -
          schema:
            type: integer
          name: qualification
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/QualificationResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete qualification'
      tags:
        - Qualifications
  /v1/qualifications/batch:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Qualification'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualificationResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of qualifications'
      tags:
        - Qualifications
    patch:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Qualification'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualificationResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of qualifications'
      tags:
        - Qualifications
    delete:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QualificationResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of qualifications'
      tags:
        - Qualifications
  /v1/ranks:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rank'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RankResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create rank'
      tags:
        - Ranks
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of ranks'
      tags:
        - Ranks
  /v1/ranks/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - image
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: name'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for ranks'
      tags:
        - Ranks
  '/v1/ranks/{rank}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: rank
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RankResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get rank'
      tags:
        - Ranks
    patch:
      parameters:
        -
          schema:
            type: integer
          name: rank
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rank'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RankResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update rank'
      tags:
        - Ranks
    delete:
      parameters:
        -
          schema:
            type: integer
          name: rank
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RankResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete rank'
      tags:
        - Ranks
  /v1/ranks/batch:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rank'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of ranks'
      tags:
        - Ranks
    patch:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Rank'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of ranks'
      tags:
        - Ranks
    delete:
      parameters:
        -
          schema:
            type: string
            enum:
              - image
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RankResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of ranks'
      tags:
        - Ranks
  /v1/roster:
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - users
              - users.rank
              - users.rank.image
              - users.position
              - users.specialty
              - users.status
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of units'
      tags:
        - Roster
  /v1/submissions:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submission'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubmissionResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create submission'
      tags:
        - Submissions
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubmissionResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of submissions'
      tags:
        - Submissions
  /v1/submissions/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - form_id
                          - user_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, form_id, user_id, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: form_id, user_id'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - form
                          - user
                          - statuses
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, form_id, user_id, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, form_id, user_id, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubmissionResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for submissions'
      tags:
        - Submissions
  '/v1/submissions/{submission}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: submission
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubmissionResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get submission'
      tags:
        - Submissions
    patch:
      parameters:
        -
          schema:
            type: integer
          name: submission
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submission'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubmissionResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update submission'
      tags:
        - Submissions
    delete:
      parameters:
        -
          schema:
            type: integer
          name: submission
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubmissionResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete submission'
      tags:
        - Submissions
  /v1/submissions/batch:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Submission'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubmissionResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of submissions'
      tags:
        - Submissions
    patch:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Submission'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubmissionResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of submissions'
      tags:
        - Submissions
    delete:
      parameters:
        -
          schema:
            type: string
            enum:
              - form
              - user
              - statuses
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubmissionResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of submissions'
      tags:
        - Submissions
  /v1/units:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unit'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UnitResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create unit'
      tags:
        - Units
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of units'
      tags:
        - Units
  /v1/units/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: name'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - assignment_records
                          - 'assignment_records.*'
                          - groups
                          - users
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for units'
      tags:
        - Units
  '/v1/units/{unit}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UnitResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get unit'
      tags:
        - Units
    patch:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Unit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UnitResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update unit'
      tags:
        - Units
    delete:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UnitResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete unit'
      tags:
        - Units
  /v1/units/batch:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Unit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of units'
      tags:
        - Units
    patch:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/Unit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of units'
      tags:
        - Units
    delete:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - 'assignment_records.*'
              - groups
              - users
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of units'
      tags:
        - Units
  '/v1/units/{unit}/users':
    post:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create user'
      tags:
        - 'Units Users'
    get:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of users'
      tags:
        - 'Units Users'
  '/v1/units/{unit}/users/search':
    post:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for users'
      tags:
        - 'Units Users'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - assignment_records
                          - award_records
                          - combat_records
                          - position
                          - qualification_records
                          - rank
                          - rank_records
                          - service_records
                          - specialty
                          - status
                          - unit
                      filters:
                        type: object
                        properties: null
  '/v1/units/{unit}/users/{user}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: integer
          name: user
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Get user'
      tags:
        - 'Units Users'
    patch:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: integer
          name: user
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Update user'
      tags:
        - 'Units Users'
    delete:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: integer
          name: user
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete user'
      tags:
        - 'Units Users'
  '/v1/units/{unit}/users/batch':
    post:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Create a batch of users'
      tags:
        - 'Units Users'
    patch:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: object
                  properties:
                    '{key}':
                      $ref: '#/components/schemas/User'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Update a batch of users'
      tags:
        - 'Units Users'
    delete:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: integer
                    description: 'A list of resource IDs'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
        422:
          description: 'Validation error'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
      summary: 'Delete a batch of users'
      tags:
        - 'Units Users'
  '/v1/units/{unit}/users/associate':
    post:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Associate user with unit'
      tags:
        - 'Units Users'
  '/v1/units/{unit}/users/{user}/dissociate':
    delete:
      parameters:
        -
          schema:
            type: integer
          name: unit
          in: path
          required: true
        -
          schema:
            type: integer
          name: user
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - award_records
              - combat_records
              - position
              - qualification_records
              - rank
              - rank_records
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        404:
          description: 'Resource not found'
        422:
          description: 'Validation error'
      summary: 'Dissociate user from unit'
      tags:
        - 'Units Users'
  /v1/users:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - assignment_records.position
              - assignment_records.specialty
              - assignment_records.unit
              - assignment_records.status
              - award_records
              - award_records.award
              - award_records.award.image
              - combat_records
              - fields
              - position
              - qualification_records
              - qualification_records.qualification
              - qualification_records.qualification.image
              - rank
              - rank.image
              - rank_records
              - rank_records.rank
              - rank_records.rank.image
              - secondary_positions
              - secondary_specialties
              - secondary_units
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
        422:
          description: 'Validation error'
      summary: 'Create user'
      tags:
        - Users
    get:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - assignment_records.position
              - assignment_records.specialty
              - assignment_records.unit
              - assignment_records.status
              - award_records
              - award_records.award
              - award_records.award.image
              - combat_records
              - fields
              - position
              - qualification_records
              - qualification_records.qualification
              - qualification_records.qualification.image
              - rank
              - rank.image
              - rank_records
              - rank_records.rank
              - rank_records.rank.image
              - secondary_positions
              - secondary_specialties
              - secondary_units
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Get a list of users'
      tags:
        - Users
  /v1/users/search:
    post:
      parameters:
        -
          schema:
            type: string
            enum:
              - assignment_records
              - assignment_records.position
              - assignment_records.specialty
              - assignment_records.unit
              - assignment_records.status
              - award_records
              - award_records.award
              - award_records.award.image
              - combat_records
              - fields
              - position
              - qualification_records
              - qualification_records.qualification
              - qualification_records.qualification.image
              - rank
              - rank.image
              - rank_records
              - rank_records.rank
              - rank_records.rank.image
              - secondary_positions
              - secondary_specialties
              - secondary_units
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - email
                          - email_verified_at
                          - position_id
                          - rank_id
                          - specialty_id
                          - status_id
                          - unit_id
                          - approved
                          - last_seen_at
                          - updated_at
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - 'not like'
                          - ilike
                          - 'not ilike'
                          - in
                          - 'not in'
                          - 'all in'
                          - 'any in'
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, email, email_verified_at, position_id, rank_id, specialty_id, status_id, unit_id, approved, last_seen_at, updated_at, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } }
                search:
                  type: object
                  properties:
                    value:
                      type: string
                      description: 'A search for the given value will be performed on the following fields: id, name, email, email_verified_at, position_id, rank_id, specialty_id, status_id, unit_id, approved, last_seen_at, updated_at, created_at'
                    case_sensitive:
                      type: boolean
                      description: '(default: true) Set it to false to perform search in case-insensitive way'
                includes:
                  type: array
                  items:
                    type: object
                    properties:
                      relation:
                        type: string
                        enum:
                          - assignment_records
                          - assignment_records.position
                          - assignment_records.specialty
                          - assignment_records.unit
                          - assignment_records.status
                          - award_records
                          - award_records.award
                          - award_records.award.image
                          - combat_records
                          - fields
                          - position
                          - qualification_records
                          - qualification_records.qualification
                          - qualification_records.qualification.image
                          - rank
                          - rank.image
                          - rank_records
                          - rank_records.rank
                          - rank_records.rank.image
                          - secondary_positions
                          - secondary_specialties
                          - secondary_units
                          - service_records
                          - specialty
                          - status
                          - unit
                      filters:
                        type: object
                        properties:
                          type: array
                          items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, email, email_verified_at, position_id, rank_id, specialty_id, status_id, unit_id, approved, last_seen_at, updated_at, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string }, nested: { type: array, items: { type: object, properties: { type: { type: string, enum: [and, or] }, field: { type: string, enum: [id, name, email, email_verified_at, position_id, rank_id, specialty_id, status_id, unit_id, approved, last_seen_at, updated_at, created_at] }, operator: { type: string, enum: ['<', '<=', '>', '>=', '=', '!=', like, 'not like', ilike, 'not ilike', in, 'not in', 'all in', 'any in'] }, value: { type: string } } } } } }
                sort:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        enum:
                          - id
                          - name
                          - email
                          - email_verified_at
                          - position_id
                          - rank_id
                          - specialty_id
                          - status_id
                          - unit_id
                          - approved
                          - last_seen_at
                          - updated_at
                          - created_at
                      direction:
                        type: string
                        enum:
                          - asc
                          - desc
                    required:
                      - field
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        401:
          description: Unauthenticated
        403:
          description: Unauthorized
      summary: 'Search for users'
      tags:
        - Users
  '/v1/users/{user}':
    get:
      parameters:
        -
          schema:
            type: integer
          name: user
          in: path
          required: true
        -
          schema:
            type: string
            enum:
              - assignment_records
              - assignment_records.position
              - assignment_records.specialty
              - assignment_records.unit
              - assignment_records.status
              - award_records
              - award_records.award
              - award_records.award.image
              - combat_records
              - fields
              - position
              - qualification_records
              - qualification_records.qualification
              - qualification_records.qualification.image
              - rank
              - rank.image
              - rank_records
              - rank_records.rank
              - rank_records.rank.image
              - secondary_positions
              - secondary_specialties
              - secondary_units
              - service_records
              - specialty
              - status
              - unit
          name: include
          in: query
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        401:
[...]
